body{
 background-color: #8BC6EC;
background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);


}
.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url("./img/bg.jpg");
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
    border: rgba(0, 0, 0, 0.6) solid 2px;
    width: 50%;
    height: 60vh;
    margin: 90px auto;
    box-shadow:  0.2rem 0.3rem 2px rgba(0, 0, 0, 0.6);
    position: relative;
    
}
.cover{
    width: 50%;
    color: #1e90ff;
    font-size: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 10px 5px 5px black;
    text-align: center;
    -webkit-text-stroke: #121212 2px;
}
.cover:hover{
background: #fff;
color: #000;
-webkit-text-stroke: #1e90ff 2px;
}  
img{
    width:50px;
}